In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime

In [6]:
data = pd.read_csv('/Users/elena.semushina/Downloads/movie_bd_v5 (1).csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
54,tt3397884,30000000,84025816,Sicario,Emily Blunt|Benicio del Toro|Josh Brolin|Victo...,Denis Villeneuve,The border is just another line to cross.,A young female FBI agent joins a secret CIA op...,121,Action|Crime|Drama|Mystery|Thriller,Lionsgate|Thunder Road Pictures|Black Label Media,9/17/2015,7.1,2015
850,tt1533749,29000000,33662874,Xin shao lin si,Andy Lau|Nicholas Tse|Fan Bingbing|Jackie Chan...,Benny Chan,"In a land torn by strife, the righteous monks ...",China is plunged into strife as feuding warlor...,131,Action|Drama,Emperor Motion Pictures|China Film Group Corpo...,1/20/2011,6.4,2011
948,tt0280486,70000000,65977295,Bad Company,Anthony Hopkins|Chris Rock|Peter Stormare|Gabr...,Joel Schumacher,Two Mismatched Partners. One Messed Up Case!,When a Harvard-educated CIA agent is killed du...,116,Action|Adventure|Comedy|Thriller,Jerry Bruckheimer Films|Touchstone Pictures|St...,6/7/2002,5.5,2002
1739,tt0825232,45000000,175372502,The Bucket List,Jack Nicholson|Morgan Freeman|Sean Hayes|Bever...,Rob Reiner,"When he closed his eyes, his heart was opened",Corporate billionaire Edward and working class...,97,Comedy|Drama|Adventure,Warner Bros.|Storyline Entertainment|Two Ton F...,12/25/2007,6.9,2007
47,tt2719848,55000000,203427584,Everest,Jason Clarke|Jake Gyllenhaal|Josh Brolin|John ...,Baltasar KormÃ¡kur,The Storm Awaits.,Inspired by the incredible events surrounding ...,121,Adventure|Drama,Universal Pictures|Working Title Films|Walden ...,9/10/2015,6.7,2015

In [7]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [8]:
answers = {} # создадим словарь для ответов
data['profit'] = data['revenue'] - data['budget'] # создание новой колонки с прибылью фильмов

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [17]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' #  +

In [0]:
data[data.budget == data.budget.max()]

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [18]:
answers['2'] = 'Gods and Generals (tt0279111)' # +

In [0]:
data[data.runtime == data.runtime.max()]

# 3. Какой из фильмов самый короткий (в минутах)?

In [19]:
answers['3'] = 'Winnie the Pooh (tt1449283)' # +

In [ ]:
data[data.runtime == data.runtime.min()]

# 4. Какова средняя длительность фильмов?

In [20]:
answers['4'] = 110 # +

In [ ]:
data.runtime.mean()

# 5. Каково медианное значение длительности фильмов?

In [21]:
answers['5'] = 107 # +

In [ ]:
data.runtime.median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [9]:
answers['6'] = 'Avatar (tt0499549)' # +

In [ ]:
data[data.profit == data.profit.max()]

# 7. Какой фильм самый убыточный?

In [22]:
answers['7'] = 'The Lone Ranger (tt1210819)' # +

In [ ]:
data[data.profit == data.profit.min()]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [23]:
answers['8'] = 1478 # +

In [ ]:
data[data.profit > 0].profit.count()

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
answers['9'] = 'The Dark Knight (tt0468569)' # +

In [ ]:
data[(data.revenue == data.revenue[data.release_year == 2008].max())&(data.release_year == 2008)].iloc[0]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
answers['10'] = 'The Lone Ranger (tt1210819)' # +

In [10]:
data[data.release_year.between(2012,2014)].sort_values(by = 'profit',ascending=True) #вариант 1

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090
1214,tt0790736,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,5.3,2013,-68351500
1007,tt1374992,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,9/27/2012,6.1,2012,-51893525
1302,tt0884726,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,6/13/2013,6.1,2013,-51337973
1235,tt1308729,55000000,9489829,Bullet to the Head,Sylvester Stallone|Sung Kang|Sarah Shahi|Adewa...,Walter Hill,Revenge Never Gets Old.,"After watching their respective partners die, ...",92,Action|Crime|Thriller,Dark Castle Entertainment|After Dark Films|IM ...,1/31/2013,5.2,2013,-45510171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,tt1690953,76000000,970761885,Despicable Me 2,Steve Carell|Kristen Wiig|Benjamin Bratt|Miran...,Pierre Coffin|Chris Renaud,Back 2 Work,Gru is recruited by the Anti-Villain League to...,98,Animation|Comedy|Family,Universal Pictures|Illumination Entertainment,6/25/2013,7.0,2013,894761885
974,tt1074638,200000000,1108561013,Skyfall,Daniel Craig|Judi Dench|Javier Bardem|Ralph Fi...,Sam Mendes,Think on your sins.,When Bond's latest assignment goes gravely wro...,143,Action|Adventure|Thriller,Columbia Pictures,10/25/2012,6.8,2012,908561013
1180,tt1300854,200000000,1215439994,Iron Man 3,Robert Downey Jr.|Gwyneth Paltrow|Guy Pearce|D...,Shane Black,Unleash the power behind the armor.,When Tony Stark's world is torn apart by a for...,130,Action|Adventure|Science Fiction,Marvel Studios,4/18/2013,6.9,2013,1015439994
1177,tt2294629,150000000,1274219009,Frozen,Kristen Bell|Idina Menzel|Jonathan Groff|Josh ...,Chris Buck|Jennifer Lee,Only the act of true love will thaw a frozen h...,Young princess Anna of Arendelle dreams about ...,102,Animation|Adventure|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/27/2013,7.5,2013,1124219009
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910

In [ ]:
data[data.profit == data.profit[(data.release_year >=2012)&(data.release_year <=2014)].min()].iloc[0] #вариант 2

# 11. Какого жанра фильмов больше всего?

In [26]:
answers['11'] = 'Drama' # +

In [ ]:
l = m.genres.str.cat(sep='|').split('|')
c = collections.Counter()
for i in l:
    c[i] +=1
print(c)

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [27]:
answers['12'] = 'Drama' # +

In [ ]:
l = m[m.profit > 0].genres.str.cat(sep='|').split('|')
c = collections.Counter()
for i in l:
    c[i] +=1
print(c)

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [28]:
answers['13'] = 'Peter Jackson' # +

In [ ]:
data['director'] = data['director'].apply(lambda x: x.split('|'))
data = data.explode('director')
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [29]:
answers['14'] = 'Robert Rodriguez' # +

In [ ]:
data['director'] = data['director'].apply(lambda x: x.split('|'))
data = data.explode('director')
data['genres'] = data['genres'].apply(lambda x: x.split('|'))
data = data.explode('genres')
data[data.genres == 'Action'].groupby(['director'])['revenue'].count().sort_values(ascending=False).index[0]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [30]:
answers['15'] = 'Chris Hemsworth' # +

In [ ]:
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data = data.explode('cast')
data[(data.release_year == 2012) & (data.revenue > data.revenue[data.release_year == 2012].mean())].groupby(['cast'])['revenue'].sum().sort_values(ascending=False)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [31]:
answers['16'] = 'Matt Damon' # +

In [ ]:
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data = data.explode('cast')
data['profit'] = data['revenue'] - data['budget']
data[data.budget > data.budget.mean()].groupby(['cast'])['budget'].count().sort_values(ascending=False)

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [32]:
answers['17'] = 'Action' # +

In [ ]:
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data = data.explode('cast')
data['genres'] = data['genres'].apply(lambda x: x.split('|'))
data = data.explode('genres')
data[data.cast == 'Nicolas Cage'].groupby(['genres'])['cast'].count().sort_values(ascending=False)

# 18. Самый убыточный фильм от Paramount Pictures

In [33]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)' # +

In [ ]:
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))
data = data.explode('production_companies')
data[data.production_companies == 'Paramount Pictures'].sort_values(by='profit',ascending=True)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [34]:
answers['19'] = 2015 # +

In [ ]:
data = pd.read_csv('/Users/elena.semushina/Downloads/movie_bd_v5 (1).csv')
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [35]:
answers['20'] = 2014 # +

In [ ]:
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))
data = data.explode('production_companies')
data[data.production_companies.str.match("Warner Bros", na=False)].groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [36]:
answers['21'] = 'Сентябрь' # +

In [ ]:
data.release_date = pd.to_datetime(data.release_date)
data['month'] = data.release_date.dt.month
data.groupby(['month'])['imdb_id'].count().sort_values(ascending=False)

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [37]:
answers['22'] = 450 # +

In [ ]:
data.release_date = pd.to_datetime(data.release_date)
data['month'] = data.release_date.dt.month
data[data.month.between(6,8)].count()

# 23. Для какого режиссера зима – самое продуктивное время года?

In [38]:
answers['23'] = 'Peter Jackson'# +

In [ ]:
data.release_date = pd.to_datetime(data.release_date)
data['month'] = data.release_date.dt.month
data['director'] = data['director'].apply(lambda x: x.split('|'))
data = data.explode('director')
data[data.month.isin([1, 2, 12,])].groupby(['director'])['profit'].count().sort_values(ascending=False)

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [39]:
answers['24'] = 'Four By Two Productions' # +

In [ ]:
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))
data = data.explode('production_companies')
data['len_str'] = data['original_title'].apply(lambda row: len(row))
data.groupby(['production_companies'])['len_str'].mean().sort_values(ascending=False)

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [40]:
answers['25'] = 'Midnight Picture Show' # +

In [ ]:
data['overview_words_length'] = data.overview.map(lambda x: len(x.split(' ')))
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))
data = data.explode('production_companies')
data.groupby(['production_companies'])['overview_words_length'].mean().sort_values(ascending=False)

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [41]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' # +

In [ ]:
data = pd.read_csv('/Users/elena.semushina/Downloads/movie_bd_v5.csv')
data[data.vote_average >= 7.9].sort_values(by = 'vote_average',ascending=False)

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [42]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'6': 'Avatar (tt0499549)',
 '23': 'Peter Jackson',
 '13': 'Peter Jackson',
 '12': 'Drama',
 '1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)